
html, body {
    
    width:100%;
    height: 100%;


}
body {
    background-color: #B3E5FE;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

svg {
    height: 80vh;
    width: 100vw;
}

.bar{
    fill:#01579B;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
    font-weight: bold;
}

.arc path {
    stroke: #fff;
}

.title {
    fill: black;
    font-weight: bold;
}

text.population {
    font: 15px sans-serif;
    font-weight: bold;
}



.inter {
     text-align: center;
}